::ng-deep .side-menu-canvas-container{
    .offcanvas{
        width: 180px;
        z-index: 11;
        background-color: #0E263E;
        height: 98%;
        top: 1%;
        border-radius: 0 30px 30px 0;
       
}

    .offcanvas-backdrop{
        z-index: 10 !important;    
}
    .offcanvas-header{
      justify-content: center;
    }
    .offcanvas-body{
        padding-right: 1.3rem;
        &::-webkit-scrollbar {
            width: 1px;
          }
          &::-webkit-scrollbar-track {
            background: #0E263E;
            border: none;
          }
          &::-webkit-scrollbar-thumb {
            background: transparent;
            border: none;
          }
          &::-webkit-scrollbar-corner {
            background: #0E263E;
          }
    }
    .menu-list-container,.logout-container{
        .menu-details{
            border: 1px solid #153D64;
            padding: 1.5rem 0 1.5rem 1.2rem;
            border-radius: .8rem;
            &.active-menu{
                background-color: #153D64;
            }
            &:hover{
                background-color: #153D64;
            }
        }
    }

    
}
  
@media screen and (max-width : 575px) {
  ::ng-deep .side-menu-canvas-container{
    .offcanvas{
        width: 67px;
}
    .offcanvas-body{
        padding-right: 1.3rem;
    }
    .menu-list-container,.logout-container{
        .menu-details{
            padding: 1.3rem 0 1.3rem 1.2rem;
            .sm-sidebar{
              display: none;


}
        }
    }
}
    
}
